body{
    background-color: lightpink;
}
.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    margin: 30px;
}
.dessert{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(3,400px);
    gap: 20px;
}
.cake img{
    height: 250px;
    width: 300px;
}
.cake{
    background-color: white;
    border: 1px solid white;
}
.choco img{
    height: 300px;
    width: 300px;
    
}
.cart{
    z-index: 1;
    width: 120px;
    height: 30px;  
}