*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #3D5A80;
    font-family: sans-serif;
}
.logo{
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    list-style: none;
    color: white;
}
.link button{
    width: 187px;
    height: 48px;
    background-color: #EE6C4D;
    border-radius: 5px;
    gap: 10px;
    padding: 12px 18px ;
    border: 1px solid #EE6C4D;
}
.section0{
    display: flex;
    height: 643px;
    justify-content: space-around;
    background-color: #3D5A80;
    line-height: 2.5;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px;
}
.left h1{
    width:410px;
    height: 108px;
    font-family: sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    line-height: 100%;
    color: white;
}
.left p{
    width: 526px;
    height: 69px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: white;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.section2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left button{
    width: 187px;
    height: 48px;
    border: 1px solid #EE6C4D;
    background-color: #EE6C4D;
    border-radius: 5px;
    gap: 10px;
    padding: 12px 18px ;
    margin-top: 30px;
    
}
.right img{
    height: 474px;
    margin-top: 170px;
}
span{
    color: #EE6C4D;
}
.section_2{
    padding: 20px;
    background-color:#293241 ;
    display: flex;
    justify-content: space-around;
}
.right1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* padding: 70px; */
}
.about2{
    width:371px;
    height: 308px;
}
.right1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tool1{
    /* padding: 40px; */
}
.tool1 img{
    border-radius: 50px;
}
.tool2{
    /* padding: 40px; */
    margin-top: 50px;
}
.tool2 img{
    border-radius: 50px;
    /* margin-bottom: 50px; */
}
.tool3{
    /* padding: 40px; */
}
.tool3 img{
    border-radius: 50px;
}
.tool4 img{
    border-radius: 50px;
}
.tool4{
    /* padding: 40px; */
}
.tool5 img{
    border-radius: 50px;
}
.tool5{
    /* padding: 40px; */
}
.vue{
    display: flex;
    /* justify-content: space-between; */
}
.section_3{
    width: 478px;
    height: 344px;
    padding: 30px;
}
.me h1{
    color: white;
    line-height: 2.2;
    font-family: sans-serif;
}
.me hr{
    border-top:4px solid  #EE6C4D;
}
.me p{
   line-height: 1.9;
   color: white;
   font-family: sans-serif;
}
.section_4{
    background-color: #293241;
    padding: 40px;
}
.company_logo h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    line-height: 1.9;
    font-size: 400;
}
.company_logo hr{
    border-top: 3px solid #EE6C4D;
    width: 132px;
    margin-left: 640px;
}
.logo_image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}